node_modules/
.env

besu/networkFiles/
*.tar.gz 
besu/besu-*/
besu/jdk-*/
*.jfr
besu/docker-compose.yml
besu/Permissioned-Network/
hostspot-pid-*/

caliper/reports_csv/
caliper/reports_htmls/

hardhat/cache/
hardhat/artifacts/

hardhat/ignition/deployments/

hardhat/coverage
hardhat/coverage.json